<?xml version="1.0" encoding="utf-8"?>
<!--
  Para obtener más información sobre cómo configurar la aplicación de ASP.NET, visite
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
	
<configuration>
	<connectionStrings>
		<add name="conn" connectionString="Server=localhost; user id=postgres; password= liliana10; database=ventas_vehiculo" providerName="Npgsql" />
		<add name="DefaultConnection" connectionString="Data Source=(LocalDb)\v11.0;AttachDbFilename=|DataDirectory|\aspnet-AirlineReservation-20141215093835.mdf;Initial Catalog=aspnet-AirlineReservation-20141215093835;Integrated Security=True" providerName="System.Data.SqlClient" />
	</connectionStrings>
	
  <system.web>
    <compilation debug="true" targetFramework="4.5" />
    <httpRuntime targetFramework="4.5" />
  </system.web>
</configuration>